.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-bold{
    color:rgba(37, 36, 50, 1) ;
    font-weight: bold;
}
.light-gray{
    color:rgba(137, 135, 161, 1) ;

}
.right-gap{
    margin-right: 10px;
}
.orange-color{
    color:#E95A08 ;
}
.max-width{
    max-width: 1140px;
}
/* navbar style  */
.navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 30px auto;
}
.menu{
    display: flex;
   
}
.cart a{
    text-decoration: none;
    color: #000000;
}
.page-menu a{
    text-decoration: none;
    
    margin-right:48px ;
}
/* navbar responsive style */
@media screen and (max-width:576px) {
    .page-menu a{
        display: none;
    }
}
/* banner-style */
.banner-section{
    display: flex;
    max-width: 1140px;
    margin: 120px auto;
    align-items: end;
    padding-top: 109px;
}
.banner-title{
    margin: 0;
    font-size: 4.06rem;
    font-weight: bold;
}
.banner-description{
    font-size:1.375rem ;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}
.banner-img{
    background-size: cover;
}
@media screen and (max-width: 576px) {
    .banner-section{
        flex-direction: column-reverse;
        margin: 28px auto;
    }
    .banner-title{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .banner-img{
        margin: 12px 0;
      
         
    }
    .banner-details{
        padding:16px ;
    }
    .banner-description{
        font-size:0.875rem;
     }
}
.plants ,.flower-lover{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-title{
    font-size: 3.23rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.plants-description{
    font-size:1.375rem ;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0 116px;
    margin-bottom: 49px;
    margin-top: 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
}
.card-img{
    width: 100%;
    text-align: center;
}
.card-name{
    color: #111111;
    font-size: 1.375rem;
   margin-top: 30px;
    text-align: center;
}  
.price{
     color: #111111;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
   
}
.cart-btn{
    background: #E95A08;
    padding: 25px 50px;
    border: none;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 576px){
    .plants-title{
        font-size: 2.06rem;
    }
    .plants-description{
        font-size:0.875rem ;
        margin-bottom: 28px;
        padding: 5px;
    }
    .cards{
        grid-template-columns: repeat(2 ,1fr);
       
    }
    .cart-btn{
        padding: 25px 30px;
    }
}
.flower-lover{
    display: flex;
    gap: 60px;
    margin-top: 210px;
   
}
.flower-lover-title{
    font-size: 3.12rem;
    margin-bottom: 0;
}
.flower-lover-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    margin-bottom: 0;  
}

.flower-lover-description li {
    margin-bottom: 20px;
}

.badge-img{
    position:relative;
    width: 286px;
    left: 351px ;
    top: -728px;   
}
@media screen and (max-width: 576px){
    .flower-lover{
        flex-direction: column;
        gap:18px ;
        margin-top:40px;
    }
    .main-img{
    width: 100%;
    }
    .badge-img{
        display: none;
    }
    .flower-lover-title{
        font-size:24px ;
        margin-top:5px;
    }
    .flower-lover-description{
        font-size: 14px;
    }

}
.latest-deals{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -230px;
    margin-bottom:120px ;
}
.latest-deal-title{
    font-size:50px ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.latest-deal-description{
    color:rgba(0, 0, 0, 0.5) ;
    text-align: center;
    font-size: 22px;
    padding: 0 100px;
    margin-top:16px;
}
@media screen and (max-width: 576px){
    .latest-deals{
    margin-top:50px ;
    margin-bottom: 50px;
}
.latest-deal-title{
    font-size:33px ; 
}
.latest-deal-description{
    font-size: 14px;
    padding: 0 5px;
}
}

/* offer section style */

.offer-section{
    display: flex;
    gap: 25px;
    max-width: 1140px;
    margin: 0 auto;
}
.img1-2{
    display: grid;
    gap: 25px;
}
.bloom-flower {
   position: relative;
    background-color: rgba(0, 0, 0, 0.4); 
    background:  url(assets/deal-bloom.png);
    background-size: cover;
    height: 201px;
    width: 367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.bloom-flower::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;

}
.offer {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;   
}
.shop-btn {
     position: relative;
    z-index: 1;
    color: #ffffff;
    font-weight: 600;
}
.ana-flower{
   position: relative;
    background-color: rgba(0, 0, 0, 0.4); 
    background:  url(assets/deal-ana.png);
    background-size: cover;
    height: 201px;
    width: 367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.ana-flower::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
}
.zabo-flower{
   position: relative;
    background-color: rgba(0, 0, 0, 0.4); 
    background:  url(assets/deal-zabo.png);
    background-size: cover;
    height: 427px;
    width: 753px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.zabo-flower::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;

}
.offer-big {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    
}
.shop-btn-big {
     position: relative;
    z-index: 1;
    color: #ffffff;
    font-size:28px ;
    font-weight: 600;
}
@media screen and (max-width:576px) {
    .offer-section{
        flex-direction: column;
    }
    .bloom-flower{
        width: 100%;
    }
    .ana-flower{
        width: 100%;
    }
    .zabo-flower{
        height: 201px;
        width: 100%;
    }
    .offer-big {
        font-size: 20px;
        font-weight: bold;
    }
    .shop-btn-big{
        font-size: 16px ;
        font-weight: 600;

    }
}
.join-colorful-bunch{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
}
.join-colorful-bunch-title{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 23px;
}
.email-btn{
    display: flex;
}
.join-email{
    border: none;
    padding: 15px 20px;
    width: 610px;
}
.subscribe-btn{
    background: #E95A08;
    padding: 15px 53px;
    border: none;
    color: #ffffff;
    font-weight: 700px;
}
@media screen and (max-width:576px) {
  .join-email{
    width: 170px;
  }
  .subscribe-btn{
    padding: 10px 28px;
  }
  .join-email{
    padding: 10px;
  }
  .join-colorful-bunch-title{
    font-size: 20px;
  }
  .join-colorful-bunch{
    height: 200px;
    margin-top: 46px;
    width: 100%;
    background-size: cover;
  }
}
